.App {
  font-family: sans-serif;
  text-align: center;
}

.news-item {
  margin-bottom: 40px;
  text-align: left;
}

.hero {
  width: 100%;
  height: 400px;
  background: linear-gradient(
    to right,
    #000 0%,
    rgb(185, 185, 185) 50%,
    #000 100%
  );
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.hero h1 {
  font-size: 36px;
  font-family: "Helvetica Neue", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
